
:root {
    --clr-pri: #9356DC;
    --clr-pri-100: hsl(267, 66%, 92.5%);
    --clr-sec: #FF79DA;
    --clr-ter: #99E2D0;
    --clr-ter-700: hsl(165, 56%, 35%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 95%);
    --clr-neutral-300: hsl(0, 0%, 90%);
    --clr-neutral-600: hsl(0, 0%, 40%);
    --clr-neutral-800: hsl(0, 0%, 25%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --body-margin: 5%;

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-neutral-900)
}

