@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    line-height: 1.1em;
    margin: .7em 0;
}
h2 {
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 900;
    margin: .7em 0;   
}
h3 {
    font-size: 1.6rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: .7em 0;  
}
p {
    font-size: 1rem;
    line-height: 1.3em;
    font-weight: 400;
    margin: .7em 0;  
}