#restaurant-hero {
    object-fit: cover;
    width: 100%;
    display: block;

    max-height: 50ch;

    position: relative;
    z-index: -2;
}

#restaurant-menu {
    --menu-bg: var(--clr-neutral-200);
    border-radius: 32px 32px 0 0;
    margin-top: -32px;
    background-color: var(--menu-bg);
    padding: 2rem var(--body-margin) 3rem var(--body-margin);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: 'Shrikhand', cursive;

        margin-bottom: 2rem;
    }

    &__heart {

        position: relative;

        input {
            appearance: none;
            cursor: pointer;
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        input:checked + .heart {
            &::after {
                transform: translateY(-0%);
            } 
        }
        .heart {
            --heart-clr-inner: var(--menu-bg) !important;
            width: 1.5em;
            aspect-ratio: 1 / 1;
        }
    }

    form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(35ch, 100%), 1fr));
        gap: 0 2rem;    
    }

    h3 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1rem;

        margin-bottom: 1.5rem;

        position: relative;

        &::after {
            content: "";
            background-color: var(--clr-ter);
            position: absolute;
            display: block;
            height: 3px;
            width: 2.5rem;
        }
    }

    ul {
        list-style: none;
        display: grid;
        gap: 1rem;
        margin-bottom: 2.5rem;

        li {
            max-width: 47ch;
            opacity: 0;

            animation-name: fade-in;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            @for $i from 1 to 15 {
                &:nth-child(#{$i}) {
                    animation-delay: calc(.15s * #{$i});
                }
            }
        }

        @keyframes fade-in {
            0% { opacity: 0; transform: translateY(1rem); }
            100% { opacity: 1; transform: translateY(0); }
        }
    }

    button[type="submit"] {
        display: block;
        margin: 0 auto;
        grid-column: 1 / -1;
    }
}