ol.fancy-list {
    --counter-size: .9em;

    list-style: none;
    counter-reset: listCounter;


    & > li {
        --spacing: calc(var(--counter-size) * 1.75 * .5);
        background-color: var(--clr-neutral-200);
        padding: var(--spacing) calc(var(--spacing) * 2);
        margin: 0 0 0 var(--spacing);
        border-radius: calc(var(--spacing) * 1.5);
        position: relative;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
        counter-increment: listCounter;

        i {
            font-size: 1.2em;
            color: var(--clr-neutral-600);
        }
    }
    & > li:not(:last-child) {
        margin-bottom: 1.25em;
    }
    & > li::before {
        content: counter(listCounter);
    
        font-size: var(--counter-size);
    
        display: flex;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: var(--clr-pri);
        color: var(--clr-neutral-100);
        width: 1.75em;
        aspect-ratio: 1 / 1;
        
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    
        left: 0px;
        top: 50%;
    }

    & > .em {
        background-color: var(--clr-pri-100);

        i {
            color: var(--clr-pri);
        }
    }
}