.hero {

    background-color: var(--clr-neutral-100);
    text-align: center;

    padding: 3rem calc(var(--body-margin) * 2);

    &__title {
        margin-bottom: .75rem;
    }
    &__text {
        margin-bottom: 1.5rem;
    }
    &__cta {

    }
}